body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

header{
    position: absolute;
    width: 1920px;
    height: 138px;
    left: 0px;
    top: 0px;
    
    background: rgba(0, 0, 0, 0.06);
}

.completed {
    text-decoration: line-through;
}

ul {
    list-style-type: none;
}

.hidden {
    display: none;
}